html {
    font-size: 40px;
}

main {
    background-color: #333;    
    font-size: 20px;
}

Section {
    margin: 10px auto;
    width: 300px;
    height: 300px;
    border: .3rem;
}

